* {
  background: #2F343F;
  foreground: #FFFFFF;
  accent: #FF8C00;
}
window {
  width: 18%;
  border: 2;
  border-color: @accent;
  border-radius: 8;
  background-color: @background;
}
listview {
  lines: 3;
  background-color: @background;
}
element {
  padding: 8;
  text-color: @foreground;
}
element selected {
  background-color: @accent;
  text-color: @background;
}
