//@theme "/usr/share/rofi/themes/arthur.rasi"
//@theme "/usr/share/rofi/themes/DarkBlue.rasi"
@theme "/home/hacker/.config/rofi/themes/spotlight-dark.rasi"

configuration {
    modi: "drun,run,window";
    show-icons: true;
    icon-theme: "Papirus";
    drun-match-fields: "name";
}
