//@theme "~/.config/rofi/themes/nord.rasi"

configuration {
    modi: "drun,run,window";
    show-icons: true;
    icon-theme: "Papirus";
    drun-match-fields: "name";
}
@theme "/home/hacker/.local/share/rofi/themes/spotlight-dark.rasi"
